<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406741721329-vsu2p5r3lnr0gpp5b2ieq8djdj8nlkj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406741721329-vsu2p5r3lnr0gpp5b2ieq8djdj8nlkj6</string>
	<key>API_KEY</key>
	<string>AIzaSyAAVCZgYYMwaYh4Q89GxowRt-52PwHQFYg</string>
	<key>GCM_SENDER_ID</key>
	<string>406741721329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ddeaOfficial</string>
	<key>PROJECT_ID</key>
	<string>ddea-1d472</string>
	<key>STORAGE_BUCKET</key>
	<string>ddea-1d472.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406741721329:ios:8eaf30569a877041060950</string>
</dict>
</plist>